version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: freefire-server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/freefire
      - NODE_ENV=production
      # Add other environment variables here (e.g., JWT_SECRET)
      # You can also use an .env file
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    container_name: freefire-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
